<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAB 7</title>
    <script src="angular.min.js"></script>
    <script src="lab7.js"></script>
    <link rel="stylesheet" href="lab7.css">
</head>
<body ng-app="Packages">
    <div ng-controller="Packagesctrl">
        <div id="title">FURNITURENEST</div>
        <br>
        
       <div style=" margin: auto;
       width: 50%;
       padding: 10px;">Rows to display:  <input type="number" step="1" min="0" max="7" ng-model="rowlimit"/><br><br></div> 
       <div style=" margin: auto;
       width: 50%;
       padding: 10px;">Search:  <input type="text" placeholder="Search for item" ng-model="search"><br><br></div> 
       <div style=" margin: auto;
       width: 50%;
       padding: 10px;">Enter the number of characters:  <input type="text" placeholder="Enter no. of characters" ng-model="limit"><br><br></div> 
        <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
            <tr>
                <th>f_id
                    <br>
                    <input type="text" ng-model="search.f_id" placeholder="Search Id">
                </th>
                <th>f_type
                    <br>
                    <input type="text" ng-model="search.f_type" placeholder="Search furniture">
                </th>
                <th>f_woodtype
                    <br>
                    <input type="text" ng-model="search.f_woodtype" placeholder="Search woodtype">
                </th>
                <th>f_description
                    <br>
                    <input type="text" ng-model="search.f_descrition" placeholder="Search description">
                </th>
                <th>f_price
                    <br>
                    <input type="text" ng-model="search.f_price" placeholder="Search price">
                </th>
            </tr>
            <tbody>
                <tr ng-repeat="htl in items|limitTo:rowlimit|filter:search">
                    <td>{{htl.f_id|namefilter:limit}}</td>
                    <td>{{htl.f_type|uppercase}}</td>
                    <td>{{htl.f_woodtype|uppercase}}</td>
                    <td>{{htl.f_description|lowercase}}</td>
                    <td>{{htl.f_price|namefilter:limit}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>
